@charset "utf-8";

$black:        hsl(120, 20%, 96%) ;
$black-bis:    hsl(120, 20%, 93%) ;
$black-ter:    hsl(120, 20%, 86%) ;

$grey-darker:  hsl(120, 30%, 79%);
$grey-dark:    hsl(120, 30%, 71%);
$grey:         hsl(120, 30%, 52%);
$grey-light:   hsl(120, 30%, 29%);
$grey-lighter: hsl(120, 30%, 14%);
$grey-lightest: hsl(120, 30%, 7%);

$white-ter:    hsl(120, 100%, 10%);
$white-bis:    hsl(120, 100%, 6%);
$white:        hsl(120, 100%, 2%);

nav .navbar-brand h1 {
    font-size: large;
    padding-left: 0.25em;
    color: #CC7700;
}

$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 74%);
$green:        hsl(153, 53%,  53%);
$turquoise:    hsl(35, 100%, 41%);
$cyan:         hsl(207, 61%,  53%);
$blue:         hsl(200, 53%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(319, 86%, 81%);

.font-icon {
    padding: 0px 0.5em;
}

@import "../ext/bulma/bulma.sass";

.content pre.highlight {
    padding: 0;
}

.navbar, .footer {
    background-color: #001600;
}

.navbar {
    margin-bottom: 1em;
}