@charset "utf-8";

$black: hsl(33, 20%, 96%);
$black-bis: hsl(33, 20%, 93%);
$black-ter: hsl(33, 20%, 86%);

$grey-darker: hsl(33, 20%, 79%);
$grey-dark: hsl(33, 20%, 71%);
$grey: hsl(33, 20%, 52%);
$grey-light: hsl(120, 10%, 29%);
$grey-lighter: hsl(120, 10%, 14%);
$grey-lightest: hsl(120, 10%, 7%);

$white-ter: hsl(120, 100%, 10%);
$white-bis: hsl(120, 100%, 6%);
$white: hsl(120, 100%, 2%);

nav .navbar-brand h1 {
    font-size: large;
    padding-left: 0.25em;
    color: #CC7700;
}

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 74%);
$green: hsl(153, 53%, 53%);
$turquoise: hsl(35, 100%, 41%);
$cyan: hsl(207, 61%, 53%);
$blue: hsl(200, 53%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(319, 100%, 81%);

.font-icon {
    padding: 0px 0.5em;
}

@import "../ext/bulma/bulma.sass";

.content pre {
    padding: 0;
}

.navbar,
.footer {
    background-color: #001600;
}

.navbar {
    margin-bottom: 1em;
}

a code {
    color: $cyan;
}

.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
    color: $text-strong;
}

@media (min-width: 2000) {
    .content p {
        font-size: 1.25em;
    }
}

.hoverable:hover::before {
    text-decoration: underline;
}

.block-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 1em 0.25em;
}

.footnote-definition p {
    display: inline-block;
}