{% extends "base.html" %}

{% block content %}

<div class="container is-centered">
    <div class="columns is-centered">
        <div class="column is-two-thirds menu">
            <ul class="menu-list">
                <li>
                    <a class="button is-primary" href="https://dev.bonsaidb.io/guide/">
                        <i class="bi-book"></i> User's Guide</a>
                </li>
                <li>
                    <a class="button is-primary" href="https://dev.bonsaidb.io/main/bonsaidb">
                        <i class="bi-journal-code"></i>
                        Documentation</a>
                </li>
                <li>
                    <a class="button is-primary" href="https://community.khonsulabs.com/c/open-source/bonsaidb/18">
                        <i class="bi-chat"></i>
                        Discussion Forums</a>
                </li>
                <li>
                    <a class="button is-primary" href="https://discord.khonsulabs.com">
                        <i class="bi-discord"></i> Khonsu Labs
                        Discord</a>
                </li>
                <li>
                    <a class="button is-primary" href="https://github.com/khonsulabs/bonsaidb">
                        <i class="bi-github"></i> Source
                        Code</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}