{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container" style="text-align: center">
    <img src="/bonsaidb-512.png" width="256" />
    <h1 class="title is-1">
        BonsaiDb
    </h1>
    <h2 class="subtitle is-3">
        A <a href="https://rust-lang.org/">Rust</a> database that grows with you.
    </h2>
</div>

<br />

<div class="container content px-4">

    <div class="notification is-warning">
        BonsaiDb is currently pre-alpha. We are <a
            href="https://community.khonsulabs.com/t/bonsaidb-december-update-finishing-up-alpha-1/88">nearing
            the first alpha release</a>. While there has been significant testing
        behind BonsaiDb already, all users are recommended to restrict BonsaiDb
        to experiments or ensure you test your backups.
    </div>

    <h1 class="title is-3">
        Getting Started with Local-only Databases {{ macros::anchor(name = "local") }}
    </h1>
    <p>Add BonsaiDb to your Cargo.toml:</p>

    <pre class="highlight"><code class="language-toml">[dependencies]
bonsaidb = { git = "https://github.com/khonsulabs/bonsaidb.git", branch = "main", features = ["local"] }</code></pre>

    <h3 class="title is-5">Local-only Examples {{ macros::anchor(name = "local-examples") }}</h3>

    <p>Each of these examples can be run within the BonsaiDb repository by executing
        <code>cargo run --example EXAMPLE-NAME</code>.
    </p>

    <ul>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-local/examples/basic-local.rs">basic-local</a>:
            Shows using one database with one <a
                href="https://dev.bonsaidb.io/release/guide/about/concepts/collection.html">collection</a>.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-local/examples/basic-local-multidb.rs">basic-local-multidb</a>:
            Shows using one collection with multiple databases.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-local/examples/view-examples.rs">view-examples</a>:
            Shows basic <a href="https://dev.bonsaidb.io/release/guide/about/concepts/view.html">Map/Reduce views</a>
            usage for
            collections.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/view-histogram/examples/view-histogram.rs">view-histogram</a>:
            Demonstrates using a histogram as a value type within a
            Map/Reduce view, enabling automatic aggregation of
            histograms through queries.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-local/examples/pubsub.rs">pubsub</a>:
            Demonstrates publishing and subscribing to
            events published to topics. While PubSub is arguably
            more useful in the client/server model, it works offline
            as well.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-local/examples/key-value-store.rs">key-value-store</a>:
            Shows basic usage of the atomic key-value store.
        </li>
    </ul>

    <h1 class="title is-3">
        Getting Started with Client/Server Databases {{ macros::anchor(name = "server") }}
    </h1>
    <p>Add BonsaiDb to your server's Cargo.toml:</p>

    <pre class="highlight"><code class="language-toml">[dependencies]
bonsaidb = { git = "https://github.com/khonsulabs/bonsaidb.git", branch = "main", features = ["server"] }</code></pre>

    <p>And to your client's Cargo.toml:</p>

    <pre class="highlight"><code class="language-toml">[dependencies]
bonsaidb = { git = "https://github.com/khonsulabs/bonsaidb.git", branch = "main", features = ["client"] }</code></pre>

    <h3 class="title is-5">Client/Server Examples {{ macros::anchor(name = "server-examples") }}</h3>

    <p>Each of these examples can be run within the BonsaiDb repository by executing
        <code>cargo run --example EXAMPLE-NAME</code>.
    </p>

    <p>The examples for local-only databases are focused on teaching the basics on BonsaiDb and apply to all
        forms of accessing BonsaiDb, including Client/Server. If you're new to BonsaiDb, it might be best to
        start with the local-only examples while learning the fundamentals.</p>

    <ul>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-server/examples/basic-server.rs">basic-server</a>:
            Shows basic server setup and access. Example includes
            both QUIC and WebSocket based connections.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-server/examples/users.rs">users</a>:
            Shows basic <a href="https://dev.bonsaidb.io/release/guide/administration/permissions.html">user and
                permission
                group management</a>.
        </li>
        <li>
            <a
                href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-server/examples/custom-api.rs">custom-api</a>:
            Shows how to extend the BonsaiDb network protocol with a
            custom API. See also <a
                href="https://dev.bonsaidb.io/release/guide/about/access-models/custom-api-server.html">the
                user's guide section</a> covering this example.
        </li>
        <li>
            <a href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/basic-server/examples/cli.rs">cli</a>:
            Shows how to use and extend the BonsaiDb command line interface.
        </li>
        <li>
            <a href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/axum/examples/axum.rs">axum</a>:
            Shows how to expose an <a href="https://crates.io/crates/axum">Axum webserver</a>
            that supports upgrading BonsaiDb websockets on a
            specified route.
        </li>
        <li>
            <a href="https://github.com/khonsulabs/bonsaidb/blob/main/examples/acme/examples/acme.rs">acme</a>:
            Shows how to configure BonsaiDb to use LetsEncrypt to
            automatically issue TLS certificates.
        </li>
    </ul>
</div>
{% endblock content %}