{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}
{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl %}
{% block ogdescription %}{% if page.extra.summary %}{{ page.extra.summary | safe }}{% else %}BonsaiDb is a
batteries-included
database
aimed at being the most developer-friendly database.{% endif %}{% endblock ogdescription %}

{% block ogtype %}{% if page.date or page.extra.author %}article{% else %}website{% endif %}{% endblock ogtype %}

{% block content %}
<div class="container content px-4">
    <h1>{{ page.title }}</h1>
    {% if page.date or page.extra.author %}
    <p>
        {% if page.extra.author %}
        Written by <a href="{{ page.extra.author_url }}">{{ page.extra.author }}</a>.
        {% endif %}
        {% if page.date %}
        Published {{ page.date }}.
        {% if page.updated %}
        Last updated {{ page.updated }}.
        {% endif %}
        {% endif %}
    </p>
    {% endif %}
    {{ page.content | safe }}
</div>
{% if page.earlier or page.later %}
<hr />
<div class="px-4">
    <aside class="menu" role="navigation">
        {% if page.earlier %}
        <p class="menu-label">Previous Post</p>
        <ul class="menu-list">
            <li>
                <a href="{{ page.earlier.path }}">{{ page.earlier.title }}</a>
            </li>
        </ul>
        {% endif %}

        {% if page.later %}
        <p class="menu-label">Next Post</p>
        <ul class="menu-list">
            <li>
                <a href="{{ page.later.path }}">{{ page.later.title }}</a>
            </li>
        </ul>
        {% endif %}
    </aside>
</div>
{% endif %}
{% endblock content %}